@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(45deg, #1a1a1b, #1e1e1e); */
    background-color: var(--color-slate-950);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.title-font {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.box {
  /* background-color: #181818; */
  background-color: color-mix(in oklab, var(--color-slate-900));
}

.TopCard {
  box-shadow: 0px 0px 10px #fde047;
  transition: all 0.3s ease-in-out;
}

.TopCard:hover {
  box-shadow: 0 0 1.5rem #fde047;
  border-color: yellow;
  /* box-shadow: 0 0 16px #fde047, inset 0 0 10px #fde047; */
}

.TopCard:hover h1 {
  color: yellow;
}

.top-card-font {
  font-family: "Schibsted Grotesk", sans-serif;
  font-style: normal;
}

.slick-dots li button:before {
  color: #9ca3af !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #fbbf24 !important;
}

/* Logo and Logo-Text Animation */
@keyframes spin3D {
  /* Logo complex spin animation on load */
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0.5);
  }
  25% {
    transform: rotateX(90deg) rotateY(45deg) rotateZ(90deg) scale(1.2);
  }
  50% {
    transform: rotateX(180deg) rotateY(90deg) rotateZ(180deg) scale(1.5);
    filter: drop-shadow(0 0 9px orange);
  }
  75% {
    transform: rotateX(270deg) rotateY(135deg) rotateZ(270deg) scale(1.2);
    filter: drop-shadow(0 0 12px orange);
  }
  85% {
    transform: rotateY(25deg) rotateX(50deg) scale(1.2);
    filter: drop-shadow(0 0 12px orange);
  }
  95% {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg) scale(1);
    filter: drop-shadow(0 0 19px orange);
  }
  100% {
    opacity: 1;
  }
}
@keyframes flip {
  /* Text flip animation on load */
  0% {
    transform: rotateY(90deg);
    -webkit-text-stroke: 1.5px orange;
    opacity: 0;
  }
  90% {
    transform: rotateY(0deg);
    -webkit-text-stroke: 1.5px orange;
    color: gold;
    opacity: 1;
  }
  100% {
    color: white;
  }
}

.logo {
  /* display: inline-block; */
  animation: spin3D 2s ease-in-out forwards;
  transform-style: preserve-3d; /* Enable 3D feel */
}
.logo-text {
  display: inline-block;
  animation: flip 3s ease-in-out forwards;
  -webkit-text-stroke: 1px white;
}

/* Hover effects of Logo and Logo-Text */
.logo-container:hover .logo {
  animation: none;
  animation: spin3D 0s ease-in-out 1 linear;
}
.logo-container:hover .logo-text {
  animation: none;
  animation: flip 0s ease-in-out 1 linear;
}
.logo-text-container:hover .logo {
  animation: none;
  animation: spin3D 0s ease-in-out 1 linear;
}
.logo-text-container:hover .logo-text {
  animation: none;
  animation: flip 0s ease-in-out 1 linear;
}

/* Border to the text */
.text-border {
  color: white;
  -webkit-text-stroke: 1px white; /* border thickness + color */
}
.hover-text-border:hover {
  color: white;
  -webkit-text-stroke: 1px white;
}
.hover-logo-text-border:hover {
  color: "yellow";
  -webkit-text-stroke: 2px yellow;
}
.text-border-error {
  color: var(--color-red-600);
  -webkit-text-stroke: 3px var(--color-red-600);
}
.text-border-link {
  color: var(--color-blue-600);
  -webkit-text-stroke: 1px var(--color-blue-600);
}
.hover-border-link:hover {
  color: var(--color-blue-600);
  -webkit-text-stroke: 1px var(--color-blue-600);
}

/* Loading dots Animation */
@keyframes bounceDot {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
}

.animate-bounce1 {
  animation: bounceDot 1.2s infinite ease-in-out;
}
.animate-bounce2 {
  animation: bounceDot 1.2s infinite ease-in-out;
  animation-delay: 0.2s;
}
.animate-bounce3 {
  animation: bounceDot 1.2s infinite ease-in-out;
  animation-delay: 0.4s;
}

/* Profile border effect animation */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.Profile {
  position: relative;
  z-index: 1;
}
.Profile::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  padding: 3px; /* Border thickness */
  background: conic-gradient(
    from var(--angle),
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  opacity: 0;
  transition: opacity 0.35s;
  z-index: -1;
  pointer-events: none;
  box-sizing: border-box;
}
.Profile:hover::before {
  opacity: 1;
  animation: spin-border 0.9s linear infinite;
}
@keyframes spin-border {
  to {
    --angle: 360deg;
  }
}

/* Stats Card */
.stats-card-leetcode {
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1),
    box-shadow 0.6s ease-in-out;
  perspective: 1000px;
}
.stats-card-leetcode:hover {
  transform: rotateY(30deg) rotateX(25deg) rotateZ(-5deg);
  box-shadow: 0 0 50px rgba(248, 0, 0, 0.4);
}
.stats-card-codeforces {
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1),
    box-shadow 0.6s ease-in-out;
  perspective: 1000px;
}
.stats-card-codeforces:hover {
  transform: rotateY(-30deg) rotateX(25deg) rotateZ(5deg);
  box-shadow: 0 0 50px rgba(248, 0, 0, 0.4);
}
.stats-card-github {
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1),
    box-shadow 0.6s ease-in-out;
  perspective: 1000px;
}
.stats-card-github:hover {
  transform: scale(1.01);
  box-shadow: 0 0 50px rgba(248, 0, 0, 0.4);
}

/* Posts Card */
.PostCard {
  width: 23rem;
}

.rank-number-font {
  font-family: "Michroma", sans-serif;
  font-style: normal;
}

.about-font {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Responsiveness */
@media (max-width: 570px) {
  .TopCard {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .TopCard img {
    height: 45%;
  }

  .TopCard h1 {
    text-align: center;
    width: 95%;
    font-size: 1.5rem;
  }

  .HeroHome {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .ProfileSection {
    padding: 0.5rem;
  }

  /* .Profile {
    font-size: 1rem;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.5rem 1rem 0.5rem;
    text-align: center;
  } */

  .profile-image,
  .profile-description {
    padding: 0.1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.1rem;
  }

  /* .Profile p {
    padding: 0.5rem;
    margin: 3px;
  }

  .Profile button {
    padding: 0.5rem 3rem 0.5rem 3rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
  } */

  .LogoText {
    display: none;
  }

  .Search {
    width: 100%;
  }

  .FilterSection {
    width: 100%;
  }

  .SearchSection {
    font-size: 1rem;
    flex-direction: column;
  }

  .logo-container {
    flex-direction: column;
  }
  .logo-text-container {
    display: none;
  }

  .PostCard {
    width: 20rem;
  }
}
@media (max-width: 360px) {
  .PostCard {
    width: 250px;
  }
}
@media (max-width: 275px) {
  .PostCard {
    width: 99%;
  }
}
