@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #1a1a1b, #1e1e1e);
  }
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: #181818;
}

.TopCard {
  box-shadow: 0px 0px 10px #fde047;
  transition: all 0.3s ease-in-out;
}

.TopCard:hover {
  box-shadow: 0 0 1.5rem #fde047;
  border-color: yellow;
  /* box-shadow: 0 0 16px #fde047, inset 0 0 10px #fde047; */
}

.TopCard:hover h1 {
  color: yellow;
}

.slick-dots li button:before {
  color: #9ca3af !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #fbbf24 !important;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.Profile {
  position: relative;
  z-index: 1;
}

/* Profile border effect animation */
.Profile::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  padding: 3px; /* Border thickness */
  background: conic-gradient(
    from var(--angle),
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  opacity: 0;
  transition: opacity 0.35s;
  z-index: -1;
  pointer-events: none;
  box-sizing: border-box;
}

.Profile:hover::before {
  opacity: 1;
  animation: spin-border 0.9s linear infinite;
}

@keyframes spin-border {
  to {
    --angle: 360deg;
  }
}

@media (max-width: 570px) {
  .TopCard {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .TopCard img {
    height: 45%;
  }

  .TopCard h1 {
    text-align: center;
    width: 95%;
    font-size: 1.5rem;
  }

  .HeroHome {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .ProfileSection {
    padding: 0.5rem;
  }

  .Profile {
    font-size: 1rem;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.5rem 1rem 0.5rem;
    text-align: center;
  }

  .Profile div {
    padding: 0.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
  }

  .Profile p {
    padding: 0.5rem;
    margin: 0.3rem;
  }

  .Profile button {
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    margin: 1rem 0 1rem 0.5rem;
  }

  .LogoText {
    display: none;
  }

  .Search {
    width: 100%;
  }

  .Search input {
    width: 75%;
  }

  .FilterSection {
    width: 100%;
  }

  .SearchSection {
    font-size: 1rem;
    flex-direction: column;
  }
}
