@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #1a1a1b, #1e1e1e);
  }
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: #181818;
}

.slick-dots li button:before {
  color: #9ca3af !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #fbbf24 !important;
}

@media (max-width: 570px) {
  .TopCard {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .TopCard img {
    height: 75%;
    width: 30%;
  }

  .TopCard h1 {
    font-size: 1.5rem;
  }

  .HeroHome {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
